<div class="content_area" class="center">
  <h1 class="h1_live"><%= t("live") %></h1>

  <p><%= t('sunday') %>, <%= t('wedding.date') %></p>
  <p><%= t('live-time') %></p>
  <br>

  <iframe src="http://www.ustream.tv/embed/2794194" width="800" height="476" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe>
</div>