    <div id="header">
    </div>
    
    <div class="containerCenter">
        <div id="go_home">
            <a href="#header" title="Home"><img src="/assets/icons/home.png"></a>
        </div>
    </div>
  
    <div id="home">
    
        <div id="home_title">
            <h1>Leah<span>&</span>Gui</h1>
        </div>

        <div id="home_date" >
            <span>February 24th, 2013</span>
            <span class="smaller">Phoenix, AZ, USA</span>
        </div>

        <div id="homenav">
            <ul class="navigation">
                <li><a class="hastip couple" title="About Us" href="#area_couple">About Us</a></li>
                <li><a class="hastip wedding" title="The Wedding" href="#area_wedding">The Wedding</a></li>
                <li><a class="hastip preparty" title="Warm Up Party" href="#area_preparty">Pre Party</a></li>
                <li><a class="hastip photos" title="Photos" href="#area_photos">Photos</a></li>
                <li><a class="hastip hotels" title="Where to stay?" href="#area_hotels">Where to stay?</a></li>
                <li><a class="hastip whattodo" title="What to do?" href="#area_whattodo">What to do?</a></li>
                <li><a class="hastip registry" title="Registry" href="#area_registry">Registry</a></li>
                <li><a class="hastip rsvp" title="RSVP" href="#area_rsvp">RSVP</a></li>
            </ul>            
        </div>

        <div class="arrow_container">
            <a href="#area_couple" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>
        
    </div>
    
    <div class="spacing">
    </div>
    
    <div id="couple">
        <a name="area_couple" id="area_couple"></a>

        <div class="title">
            <h2>About Us</h2>
        </div>

        <div class="content">

            <p>"Once upon a time lived a girl desperate to travel. She went on a backpacking trip with her brother 5 years ago where she met him and 3 of his friends at a hostel in the middle of one of the most beautiful cities in the world, Buenos Aires. It was only a few days that  she and he hung out, but they were a few important days that changed the rest of their lives. You see, she went home and he went home and she and he spoke for endless hours in broken English and miscommunications.</p>

            <p>She decided to move her plans from going to Rome to going back to Buenos Aires. He decided to quit his job and move to Buenos Aires. They went on having conversations with less and less broken English and miscommunications and fell in love not only with the city, but with each other. But that wasn't enough, you see, the world is a big place with many things to discover.</p>

            <p>He and She eventually moved to here and there. Milan was short and sweet as their fill of focaccia and gelato was met. Next they went on to discover their most impactful trip. Through the Middle East they went as each wonder and person they met were as charming and kind as the next. Through Turkey, Syria, Israel, Jordan and Egypt... on to to Spain they turned to see if would be a home. He and She fell in love again. Sevilla, is the city they will always be in love with. Sevilla stole their hearts!</p>

            <p>But alas, they returned to the continent they started in, Brazil is where they would call home for almost two years as they traveled around. He and She then moved on to the US and traveled among 20 of the great states! Where they got engaged one sunny fall day in Her favorite city, Boston. The future is unclear, but now He and She will always have each other."</p>
        </div>

        <div class="arrow_container">
            <a href="#header" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_wedding" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>
    </div>
    
    <div class="spacing">
    </div>
    
    <div id="wedding">
        <a name="area_wedding" id="area_wedding"></a>

        <div class="title">
          <h2>The Wedding</h2>
        </div>

        <div class="content">

            <div class="wedding_block">

                <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4203+E+Hazelwood+St,+Phoenix,+AZ+85018&amp;aq=&amp;sll=33.504846,-112.000778&amp;sspn=0.017803,0.037594&amp;ie=UTF8&amp;hq=&amp;hnear=4203+E+Hazelwood+St,+Phoenix,+Maricopa,+Arizona+85018&amp;t=m&amp;ll=33.503686,-111.990337&amp;spn=0.021471,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4203+E+Hazelwood+St,+Phoenix,+AZ+85018&amp;aq=&amp;sll=33.504846,-112.000778&amp;sspn=0.017803,0.037594&amp;ie=UTF8&amp;hq=&amp;hnear=4203+E+Hazelwood+St,+Phoenix,+Maricopa,+Arizona+85018&amp;t=m&amp;ll=33.503686,-111.990337&amp;spn=0.021471,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

            </div>

            <div class="wedding_block wedding_details">
                <p class="">This is what you've all been waiting for! So don't be late as we celebrate the rest of our lives with those of you who we love so much!</p>

                <p class="real_info">
                    Sunday, February 24th, 2013<br>
                    Ceremony at 4:30<br>
                </p>

                <p class="real_info">
                    4203 E. Hazelwood St.,<br>
                    Phoeniz, AZ, 85018
                </p>

                <p>
                    <span style="background-color: yellow;">Please don't forget to <a href="#area_rsvp" title="RSVP">RSVP</a>.</span>
                </p>
            </div>


        </div>

        <div class="arrow_container">
            <a href="#area_couple" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_preparty" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>

    <div id="preparty">
        <a name="area_preparty" id="area_preparty"></a>

        <div class="title">
            <h2>Warm Up Party</h2>
        </div>

        <div class="content">

            <div class="wedding_block">

                <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4203+E+Hazelwood+St,+Phoenix,+AZ+85018&amp;aq=&amp;sll=33.504846,-112.000778&amp;sspn=0.017803,0.037594&amp;ie=UTF8&amp;hq=&amp;hnear=4203+E+Hazelwood+St,+Phoenix,+Maricopa,+Arizona+85018&amp;t=m&amp;ll=33.503686,-111.990337&amp;spn=0.021471,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4203+E+Hazelwood+St,+Phoenix,+AZ+85018&amp;aq=&amp;sll=33.504846,-112.000778&amp;sspn=0.017803,0.037594&amp;ie=UTF8&amp;hq=&amp;hnear=4203+E+Hazelwood+St,+Phoenix,+Maricopa,+Arizona+85018&amp;t=m&amp;ll=33.503686,-111.990337&amp;spn=0.021471,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

            </div>

            <div class="wedding_block wedding_details">
                <p>We don't just want to see you for 6 hours! That's why you came all this way, right? So come over to our house and do what we do best, eat and drink! </p>

                <p class="real_info">
                    Saturday, February 23th, 2013<br>
                    Please come at 5:00<br>
                </p>

                <p>Same address of the wedding:</p>
                <p class="real_info">
                    4203 E. Hazelwood St.,<br>
                    Phoeniz, AZ, 85018
                </p>

            </div>
           
        </div>

        <div class="arrow_container">
            <a href="#area_wedding" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_photos" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>

    <div id="photos">
        <a name="area_photos" id="area_photos"></a>

        <div class="title">
            <h2>Photos</h2>
        </div>

        <div class="content">

            <ul class="photo-gallery">
                <li><img title="Leah, the bride." src="/assets/couple/leah.jpg" /><p>Leah, the bride.</p></li>
                <li><img title="Gui, the groom." src="/assets/couple/gui.jpg" /><p>Gui, the groom.</p></li>
            </ul>

        </div>

        <div class="arrow_container">
            <a href="#area_preparty" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_hotels" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>
    
    <div id="hotels">
        <a name="area_hotels" id="area_hotels"></a>
        
        <div class="title">
          <h2>Where to stay</h2>
        </div>
        
        <div class="content">
            
            <div id="listhotel">
            
                <div class="hotel_block">
                  <img src="/assets/hotels/courtyard.png" title="Courtyard Phoenix Camelback" />
                  <p class="h2">Courtyard Phoenix Camelback</p>
                    <p class="h4">
                        2101 East Camelback Road<br>
                        Phoenix, Arizona, 85016<br>
                        <a href="tel:1-602-955-5200" title="Call Courtyard Phoenix Camelback">1-602-955-5200</a>
                    </p>
                    <p><a href="http://www.marriott.com/hotels/travel/phxcc-courtyard-phoenix-camelback/" target='_blank'>Courtyard Phoenix Camelback</a></p>
                </div>
                
                <div class="hotel_block">
                  <img src="/assets/hotels/hamptoninn.png" title="Hampton Inn Phoenix-Biltmore" />
                  <p class="h2">Hampton Inn Phoenix-Biltmore</p>
                    <p class="h4">
                        2310 East Highland Avenue<br>
                        Phoenix, Arizona, 85016<br>
                        <a href="tel:1-602-956-5221" title="Call Hampton Inn Phoenix-Biltmore">1-602-956-5221</a>
                    </p>
                    <p><a href="http://hamptoninn3.hilton.com/en/hotels/arizona/hampton-inn-phoenix-biltmore-PHXEHHX/index.html" target='_blank'>Hampton Inn Phoenix-Biltmore</a></p>
                </div>
                
                <div class="hotel_block">
                  <img src="/assets/hotels/bestwestern.png" title="Best Western Plus Sundial<" />
                  <p class="h2">Best Western Plus Sundial</p>
                    <p class="h4">
                        7320 E Camelback Road<br>
                        Scottsdale, Arizona, 85251-3404<br>
                        <a href="tel:1-480-994-4170" title="Call Best Western Plus Sundial">1-480-994-4170</a>
                    </p>
                    <p><a href="http://bestwesternarizona.com/hotels/best-western-plus-sundial" target='_blank'>Best Western Plus Sundial</a></p>
                </div>
                
            </div>

            <div class="clear spacing_top">
                <p>If you prefer a fancier or cheaper place take a look at: </p>
                <a href="http://www.kayak.com/" target="blank">Kayak</a> <br>
                <a href="http://www.hotwire.com/" target="blank">Hotwire</a>
            </div>
            
        </div>
        
        <div class="arrow_container">
            <a href="#area_photos" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_whattodo" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
       
    <div class="spacing">
    </div>
    
    <div  id="whattodo">
        <a name="area_whattodo" id="area_whattodo"></a>

        <div class="title">
            <h2>What to do?</h2>
        </div>

        <div id="content">
            
            Coming soon.
    
        </div>

        <div class="arrow_container">
            <a href="#area_hotels" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_registry" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>

    <div id="registry">
        <a name="area_registry" id="area_registry"></a>

        <div class="title">
            <h2>Registry</h2>
        </div>

        <div class="content">

            <p>We are just happy you are here. Really.  But, if you wish to buy us a fork or two, we are registered at:</p>
            
            <ul class="registry">
                <li>
                    <a href="http://goo.gl/SydKr" target="_blank">
                        <img title="Wedding Registry at Amazon.com" src="/assets/icons/amazon.png" />
                        <p>Go to Amazon's website</p>
                    </a>
                </li>
                <li>
                    <a href="http://goo.gl/RcUaD" target="_blank">
                        <img title="Wedding Registry at Crate and Barrel" border="0" src="/assets/icons/crateandbarrel.png" />
                        <p>Go to Crate and Barrel's website</p>
                    </a>
                </li>
            </ul>

            <p class="clear spacing_top">Please, send the gifts to:</p>
            <p class="real_info">
            Leah Gregory<br>
            11983 North 136th Way<br>
            Scottsdale, Arizona, USA<br>
            85259<br>
            </p>

        </div>

        <div class="arrow_container">
            <a href="#area_whattodo" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_rsvp" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>
    
    <div id="rsvp">
        <a name="area_rsvp" id="area_rsvp"></a>
        
        <div class="title">
            <h2>RSVP</h2>
        </div>

        <div class="content">
            
            <div id="rsvpform">
              
              <%= render 'form' %>

            </div>
            
            <div id="contact">
              <p>Contact Info:</p>
                <a href="mailto:email@address.com">insert email here</a><br>
                <a href="mailto:email@address.com">insert email here</a>
            </div>
        
        </div>

        <div class="arrow_container">
            <a href="#area_registry" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
        </div>
       
    </div>
    
    <div id="footer" style="display: block">
        <div class="footer_wrapper">
            <div class="footer_block">
                <p class="details">Leah and Gui's Wedding</p>
                Sunday, February 24th, 2013 at 4:30<br>
                4203 E. Hazelwood St.<br>
                Phoeniz, AZ, 85018
            </div>
            <div class="footer_block links">
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#area_couple">About Us</a></li>
                    <li><a href="#area_wedding">Wedding</a></li>
                    <li><a href="#area_preparty">Warm Up Party</a></li>
                    <li><a href="#area_photos">Photos</a></li>
                    <li><a href="#area_hotels">Where to stay?</a></li>
                    <li><a href="#area_whattodo">What to do?</a></li>
                    <li><a href="#area_registry">Registry</a></li>
                    <li><a href="#area_rsvp">RSVP</a></li>
                </ul>
            </div>
        </div>
    </div>