div#email-container > h1 {
  margin-bottom: 30px;
}

input#rsvp_email.verimail-success {
  background: white url('/assets/success.png') no-repeat center right;
}
input#rsvp_email.verimail-error {
  background: white url('/assets/error.png') no-repeat center right;
}
input#rsvp_email.verimail-pending {
  background: white url('/assets/pending.gif') no-repeat center right;
}

p#status-message span.success {
  color: green;
}
p#status-message span.error {
  color: red;
}
p#status-message span.correction {
  font-weight: bold;
}