@charset "UTF-8";
/* CSS Document */

*, html {
   margin: 0;
   padding: 0;  
   font-family: 'Cutive Mono', serif, Times;
   font-size: 15px;
   border: 0;
}

body {
   background: rgb(255, 255, 255) url(image-path("background.jpg")) repeat fixed;
}

h1 {
   font-size: 120px;
   font-weight: bold;
   color: #01103e;
}

h1 span {
   font-size: 75px;
   color: #fff;
   display: block;
}

h2 {
   font-size: 65px;
   font-weight: bold;
   color: #01103e;
}

h3 {
   font-size: 20px;
   font-weight: bold;
   color: #01103e;
}

.spacing_top {
   padding-top: 30px;
}

.h2 {
   font-weight:bold;
}

.h4 {
   font-size:13px;
   color:#41372a;
   font-style:italic;
}

a {
   color: #6D4F2A;
}

a:hover {
   color: #9c716e;
}

p { margin: 5px 0; }

.center {
   margin:auto;
}

.clear {
   clear:both;
}

#header {
   width: auto;
   height: 15px;
   background: url(image-path("icons/blue_triangle.png")) repeat-x;
}

#home_title {
  padding: 25px 0 0 0;
  margin: auto;
  text-align: center;
}

#home_date {
   text-align: center;
   width: 450px;
   height: auto;
   margin: auto;
   color: #fff;
   padding: 10px 0;
}

#home_date span {
   font-size: 30px;
}

#home_date span.smaller {
   font-size: 25px;
}

#home p { 
  padding: 25px 0;
  font-style: italic;
  display: block;
  font-size: 13px;
}

.tooltipsy {
    padding: 10px;
    max-width: 200px;
    color: #303030;
    font-weight: bold;
}

#homenav {
  margin: 0 auto;
  width: 950px;
  text-align: center;
  padding-bottom: 45px;
}

#homenav ul {
   list-style-type: none;
   height: 80px;
}

#homenav ul.navigation li {
   float: left;
   margin: 0 19px;
}

#homenav a {
   opacity: 0.7;
   display: block;
   background-color: #d8958f;
   background-repeat: no-repeat;
   background-position: 13px 15px;
   height: 80px;
   width: 80px;
   -moz-border-radius: 40px;
   -webkit-border-radius:40px;
   border-radius: 40px;
   text-indent: -99999px;
}

#homenav a.couple {background-image: url(image-path("icons/couple.png"));}
#homenav a.wedding {background-image: url(image-path("icons/wedding.png"));}
#homenav a.hotels {background-image: url(image-path("icons/hotels.png")); background-position: 14px 15px;}
#homenav a.preparty {background-image: url(image-path("icons/preparty.png"));}
#homenav a.whattodo {background-image: url(image-path("icons/whattodo.png")); background-position: 11px 11px;}
#homenav a.rsvp {background-image: url(image-path("icons/rsvp.png")); background-position: 11px 18px;}
#homenav a.photos {background-image: url(image-path("icons/photos.png"));}
#homenav a.registry {background-image: url(image-path("icons/registry.png")); background-position: 16px 17px;}

#homenav a:hover {
   opacity: 1;
}

.arrow_container {
  clear: both;
  text-align: center;
  height: 36px;
}

.arrow {
   padding: 0 10px;
   opacity: 0.4;
}

.arrow_off {
   padding-top:5px;
}

#couple .content { 
   font-style: italic;
}

#couple p {
   padding: 10px 0;
}

ul.photo-gallery li {
   float: left;
   padding: 10px;
   margin: 0 30px;
   background: #eee;
   border: 1px solid #fff;
   -moz-box-shadow: 0px 2px 15px #333;
   position: relative;
   display: inline;
   list-style-type: none;
   text-align: center;
}

ul.registry li {
   float: left;
   padding: 5px;
   position: relative;
   display: inline;
   list-style-type: none;
   text-align: center;
   width: 300px;
}

ul.registry li.spacing_first_item  {
  margin-left: 280px;
  background-color: yellow;
}

ul.photo-gallery li:first-child {
   margin-left: 280px;
}

ul.photo-gallery p {
   padding: 10px 0; 
}

.wedding_block {
   margin-right: 15px;
   width:360px;
   height:360px;
   float:left;
}

.wedding_block p {
   margin: 15px 0;
}

.real_info {
   color: #fff;
   font-size: 25px;
}

.wedding_details {
   width: 550px;
}

#photos .foto_test { 
  float: left;
  margin: 5px 7px;
}

#photos .foto_test img {
  width: 80px;
  height: 80px;
}

.whattodo_block {
   margin: 1px;
   text-align: center;
   width: 190px;
   height: 210px;
   float: left;
}

#listhotel {
   height:130px;
   width:960px;
}

.hotel_block {
   margin: 0 5px 0 0;
   text-align: center;
   width:300px;
   float:left;
}

.txthotel {
   margin-top:-90px;
   margin-left:25px;
}

.space_whattodo {
   width:21px;
   height:330px;
   float:left;
}

.spacetxt {
   width:172px;
   height:15px;
}

#separation_lign {
   margin-left:20px;
   margin-top:25px;
   padding-top:20px;
   width:920px;
   height:1px;
}

#rsvpform {
   width:550px;
   float:left;
}

.rsvp_messages {
  display: none;
}

#contact {
   width:270px;
   height:380px;
   float:left;
   margin-left:100px;
}

.label_question {
  color: #01103e;
  font-size: 16px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}


.spacing, .last-spacing  {
   width:960px;
   height:200px;
   margin:auto;
}

.last-spacing {
   height:50px;
}

.title {
   margin:auto;
   text-align: center;
   padding: 23px 0;
}

.content {
   width: 960px;
   height: 535px;
   min-height: 535px;
}

.containerCenter {
  width:960px;
  margin:auto;
  position:relative;
}

div.content_area {
  width: 960px;
  height: 730px;
  margin: auto;
  clear: both;
}

#flag, #go_home {
   margin-top: -10px;
   margin-left: 915px;
   float: right;
   position: fixed;
   z-index: 999999;
   display: none;
}

#flag {
  display: block;
  margin-top: 0px;
}

#flag a, #go_home a {
   display:block;
   opacity:0.5;
   -webkit-transition: opacity 0.5s ease-in-out;
   -moz-transition: opacity 0.5s ease-in-out;
   -o-transition: opacity 0.5s ease-in-out;
   transition: opacity 0.5s ease-in-out;
}

#flag a:hover, #home a:hover  {
   display:block;
   opacity:1;
}

#footer {
   width: 100%;
   margin: auto;
   height: 240px;
   background-color: #01103e;
   font-size: 15px;
}

#footer .footer_wrapper {
   width:960px;
   height:auto;
   margin:auto;
}

#footer .footer_block {
   margin-top: 45px;
   margin-right: 15px;
   color: white;
   width:450px;
   height:150px;
   float:left;
   text-align: left;
}

#footer .details {
   font-size: 25px;
 }

#footer li {
   list-style-type: none;
}

#footer a {
   color: #fff;
}

#footer a:hover {
   color: #d8958f;
}

#footer .links { 
   text-align: right;
}

#footer .details { 
   width: 400px; 
   text-align: left;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.field { 
padding: 15px 0 0 0;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* Sprites */

.bestwestern, .courtyard, .hamptoninn{
  background: url(image_path("hotels/sprite_hotels.png")) no-repeat;
  margin-left: 65px;
}

.bestwestern{
  background-position: -1px -1px ;
  width: 170px;
  height: 120px;
}

.courtyard{
  background-position: -172px -1px ;
  width: 170px;
  height: 120px;
}

.hamptoninn{
  background-position: -344px 0;
  width: 170px;
  height: 120px;
}

.IMG_1668_small, .IMG_9778_small, .IMG_7136_small, .IMG_6950_small, .IMG_4088_small, .IMG_3855_small, .IMG_4179_small, .IMG_4458_small, .IMG_8043_small, .DSC01650_small, .IMG_4698_small, .IMG_2723_small, .IMG_0291_small, .IMG_2287_small, .DSC01956_small, .IMG_3010_small, .DSC03374_small, .IMG_0248_small, .IMG_4730_small, .IMG_8131_small, .IMG_4988_small, .IMG_1257_small, .IMG_4473_small, .DSC02931_small, .IMG_1500_small, .IMG_6846_small, .IMG_1179_small, .IMG_3828_small, .IMG_0251_small, .DSC02919_small, .DSC01137_small, .IMG_3207_small, .IMG_3125_small, .DSC02914_small, .IMG_3990_small, .IMG_0245_small, .IMG_1381_small, .IMG_3673_small, .IMG_7530_small, .IMG_0146_small, .IMG_1331_small, .IMG_1602_small, .IMG_4981_small, .IMG_1289_small, .IMG_2355_small, .DSC03198_small, .IMG_9174_small, .IMG_2868_small, .IMG_1249_small, .IMG_0135_small, .IMG_8659_small, .IMG_0129_small, .IMG_3191_small, .DSC03197_small, .IMG_7408_small{
  background: url(image_path("photos/sprite_photos.png")) no-repeat;
}

.IMG_1668_small{
  background-position: -164px -165px ;
  width: 80px;
  height: 80px;
}

.IMG_9778_small{
  background-position: -246px -82px ;
  width: 80px;
  height: 80px;
}

.IMG_7136_small{
  background-position: -739px 0;
  width: 80px;
  height: 80px;
}

.IMG_6950_small{
  background-position: -245px 0;
  width: 80px;
  height: 80px;
}

.IMG_4088_small{
  background-position: -328px -82px ;
  width: 80px;
  height: 80px;
}

.IMG_3855_small{
  background-position: -493px -82px ;
  width: 80px;
  height: 80px;
}

.IMG_4179_small{
  background-position: -657px 0;
  width: 80px;
  height: 80px;
}

.IMG_4458_small{
  background-position: -574px 0;
  width: 80px;
  height: 80px;
}

.IMG_8043_small{
  background-position: -491px 0;
  width: 80px;
  height: 80px;
}

.DSC01650_small{
  background-position: -409px 0;
  width: 80px;
  height: 80px;
}

.IMG_4698_small{
  background-position: -327px 0;
  width: 80px;
  height: 80px;
}

.IMG_2723_small{
  background-position: -163px 0;
  width: 80px;
  height: 80px;
}

.IMG_0291_small{
  background-position: -81px 0;
  width: 80px;
  height: 80px;
}

.IMG_2287_small{
  background-position: 0 0;
  width: 80px;
  height: 80px;
}

.DSC01956_small{
  background-position: -739px -83px ;
  width: 80px;
  height: 80px;
}

.IMG_3010_small{
  background-position: -657px -82px ;
  width: 80px;
  height: 80px;
}

.DSC03374_small{
  background-position: -575px -82px ;
  width: 80px;
  height: 80px;
}

.IMG_0248_small{
  background-position: -411px -82px ;
  width: 80px;
  height: 80px;
}

.IMG_4730_small{
  background-position: -164px -82px ;
  width: 80px;
  height: 80px;
}

.IMG_8131_small{
  background-position: -82px -82px ;
  width: 80px;
  height: 80px;
}

.IMG_4988_small{
  background-position: 0 -83px ;
  width: 80px;
  height: 80px;
}

.IMG_1257_small{
  background-position: -246px -164px ;
  width: 80px;
  height: 80px;
}

.IMG_4473_small{
  background-position: -328px -164px ;
  width: 80px;
  height: 80px;
}

.DSC02931_small{
  background-position: -411px -164px ;
  width: 80px;
  height: 80px;
}

.IMG_1500_small{
  background-position: -493px -165px ;
  width: 80px;
  height: 80px;
}

.IMG_6846_small{
  background-position: -576px -164px ;
  width: 80px;
  height: 80px;
}

.IMG_1179_small{
  background-position: -82px -164px ;
  width: 80px;
  height: 80px;
}

.IMG_3828_small{
  background-position: 0 -165px ;
  width: 80px;
  height: 80px;
}

.IMG_0251_small{
  background-position: 0 -247px ;
  width: 80px;
  height: 80px;
}

.DSC02919_small{
  background-position: -658px -164px ;
  width: 80px;
  height: 80px;
}

.DSC01137_small{
  background-position: -740px -165px ;
  width: 80px;
  height: 80px;
}

.IMG_3207_small{
  background-position: -82px -247px ;
  width: 80px;
  height: 80px;
}

.IMG_3125_small{
  background-position: -164px -247px ;
  width: 80px;
  height: 80px;
}

.DSC02914_small{
  background-position: -247px -247px ;
  width: 80px;
  height: 80px;
}

.IMG_3990_small{
  background-position: -329px -247px ;
  width: 80px;
  height: 80px;
}

.IMG_0245_small{
  background-position: -411px -246px ;
  width: 80px;
  height: 80px;
}

.IMG_1381_small{
  background-position: -493px -247px ;
  width: 80px;
  height: 80px;
}

.IMG_3673_small{
  background-position: -576px -247px ;
  width: 80px;
  height: 80px;
}

.IMG_7530_small{
  background-position: -658px -247px ;
  width: 80px;
  height: 80px;
}

.IMG_0146_small{
  background-position: -740px -247px ;
  width: 80px;
  height: 80px;
}

.IMG_1331_small{
  background-position: 0 -329px ;
  width: 80px;
  height: 80px;
}

.IMG_1602_small{
  background-position: -82px -329px ;
  width: 80px;
  height: 80px;
}

.IMG_4981_small{
  background-position: -165px -329px ;
  width: 80px;
  height: 80px;
}

.IMG_1289_small{
  background-position: -247px -329px ;
  width: 80px;
  height: 80px;
}

.IMG_2355_small{
  background-position: -330px -330px ;
  width: 80px;
  height: 80px;
}

.DSC03198_small{
  background-position: -413px -328px ;
  width: 80px;
  height: 80px;
}

.IMG_9174_small{
  background-position: -742px -329px ;
  width: 80px;
  height: 80px;
}

.IMG_2868_small{
  background-position: 0 -411px ;
  width: 80px;
  height: 80px;
}

.IMG_1249_small{
  background-position: -83px -411px ;
  width: 80px;
  height: 80px;
}

.IMG_0135_small{
  background-position: -165px -411px ;
  width: 80px;
  height: 80px;
}

.IMG_8659_small{
  background-position: -248px -412px ;
  width: 80px;
  height: 80px;
}

.IMG_0129_small{
  background-position: -330px -412px ;
  width: 80px;
  height: 80px;
}

.IMG_3191_small{
  background-position: -660px -330px ;
  width: 80px;
  height: 80px;
}

.DSC03197_small{
  background-position: -578px -330px ;
  width: 80px;
  height: 80px;
}

.IMG_7408_small{
  background-position: -495px -329px ;
  width: 80px;
  height: 80px;
}


